# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.env.bak/
.envrc

# customtkinter settings
*.tkinter_config

# macOS specific files
.DS_Store

# Environment variables file
.env

# Editor and IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# PyCharm specific files
*.iml
*.ipr
*.iws

# Log files
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python packages
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
wheels/

# C extensions
*.so

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Backup files
*.bak
*.swp

# Custom files
config.py.backup

g
misc
